body, ul, ol, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: Lucida;
  }
  p{
    font-size: 18px;
  }
  header{
    background-color: #945706;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  header h1{
    color: rgb(255, 172, 120);
    border: 2px solid rgb(212, 145, 57);
    display: -moz-grid-line;
    padding: 6px 12px;
    border-radius: 36px;
  }
  .banner{
    position: relative;
  }
  .banner img{
    max-width: 100%;
  }
  .banner .welcome{
    background:#834d0649;
    color: white;
    padding: 20px;
    margin: 40px;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 10%;
  } 
  .banner .welcome span{
    font-size: 1.4em;
  }
  nav{
    background: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 106px;
    z-index: 1;
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 25px;
  }
  nav li a{
    text-decoration: none;
    color: #945706;
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.join{
    color: #945706;
  }

  main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  article h2{
    text-decoration: underline;
    color: #945706;
    font-size: 48px;
  }
  article p{
    line-height: 2em;
    color: #000000;
    font-size: 23px;
  }
  ol li{
    line-height: 2em;
    color: #000000;
    font-size: 20px;
  }
  .images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
  }
  .images li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    margin: 20px 5%;
    position: relative;
  }
  .images li:hover{
    top: -4px;
  }
  .images li img{
    max-width: 100%;
  }
  section.join{
    background: #efc28b8a;
    text-align: center;
    padding: 30px 10px;
    margin: 20px;
    color: #945706;
  }
  section.join h2{
    font-size: 36px;
  }
  form label, input, p{
    text-decoration: solid;
    color: #000000;
    font-size: 34px;
  }
  form p{
    text-decoration: solid;
    color: #000000;
    font-size: 34px;
  }
  form input{
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 18px;
    border: 4px solid white;
  }
  form input:focus{
    border: 2px dashed rgb(255, 172, 120);
    outline: none;
  }
  form input:valid{
    border: 4px solid #d3a500;
  }
  footer p{
    background: #945706;
    color: rgb(255, 172, 120);
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
  
  /* responsive styles */
  
  @media screen and (max-width: 1400px){
  
    .banner .welcome{
      font-size: 40px;
    }
  
  }
  
  @media screen and (max-width: 960px){
  
    .banner .welcome{
      font-size: 28px;
    }
    nav li{
      font-size: 18px;
    }
  
  }
  
  @media screen and (max-width: 700px){
  
    .banner .welcome{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .banner .welcome br{
      display: none;
    }
    .banner .welcome span{
      font-size: 1em;
    }
    nav li{
      font-size: 18px;
    }
    .images li{
      width: 100%;
      display: block;
      margin: 20px auto;
    }
  
  }
  
  @media screen and (max-width: 560px){
  
    .banner .welcome{
      font-size: 20px;
      position: relative;
      text-align: center;
    }
    .banner .welcome br{
      display: none;
    }
    .banner .welcome span{
      font-size: 1em;
    }
    nav li{
      display: block;
      width: 100%;
      margin: 12px 0;
    }
    article h2{
      font-size: 36px;
    }
    header, nav{
      position: relative;
      top: 0;
    }
    
  
  }